*{

	box-sizing: border-box;

}

body{

	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;

}

footer {

	clear: both;
	width: 100%;
	display: block;

}

.footer .pageContent {

	color: #ffffff;
	background-color: #1E1E1E;
	padding-top: 50px;
	padding-bottom: 50px;
	border-top: 5px solid #4286F4;
	overflow: hidden;

}

.pageWidth {

	width: 90%;
	max-width: 1200px;
	margin: 0 auto;

}

.title {

	font-size: 22px;
	text-transform: uppercase;
	margin: 0px;
	color: #ffffff;

}

.footerAbout {

	width: 30%;
	float: left;

}

.footerAbout p{

	font-size: 14px;
	margin-top: 10px;
	color: #a1aab0;

}

.footerLink {

	width: 30%;
	float: left;
	margin-left: 100px;

}

.footerLink div {

	margin-top: 10px;
}

.footerLink ul {

	display: inline-block;
	width: 40%;
	padding: 0;
}

.footerLink ul li a {

	padding: 0;
	color: #a1aab0;
	display: inline-block;
	list-style-type: none;
	text-decoration: none;
}

.footerLink ul {

	margin: 0px;
}

.footerLink ul li {

	list-style: none;
}

.footerLast {

	width: 30%;
	float: left;
}

.footerLast .btn-footer {

	border: 1px solid #4286F4;
	border-radius: 2px;
	background: #1a1f23;
	float: right;
	font-size: 14px;
	padding: 5px 10px;
	transition: all 0.5s ease;

}

.footerLast p {

	font-size: 14px;
	margin-top: 10px;
	color: #a1aab0;

}

.fa {
	
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
}

.spacer {

	margin-top: 80px;
	margin-bottom: 80px;
}

.backgroundPrimary{

	background-color: #1E1E1E;

}

.py {

	padding-top: 3rem;
	padding-bottom: 3rem;
	display: block;
	overflow: hidden;
	max-width: 700px;
}

.mapFirst {

	width: 45%;
	float: left;
}

.mapLast {

	float: left;

}

.backgroundPrimary p {

	font-size: 14px;
	margin-top: 10px;
	color: #a1aab0;
}

#map {

	height: 350px;
	width: 300px;
	position: absolute;
	margin-left: 20px;
	box-shadow: 0 4px #444445;
	border-radius: .5em;
	margin-bottom: 4px !important;
	overflow: hidden;
}

.btn {

	display: inline-block;
	font-weight: normal;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	padding: 0.5rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	border-radius: 0.25rem;
	transition: all 0.15s ease-in-out;
	box-shadow: 0 4px #444445;
	border-radius: .5em;
	margin-bottom: 4px !important;
	overflow: hidden;
	margin-top: 20px;

}

.btn-white {

	background: #ffffff;
}

.mapFirst a {

	color: #4286F4;
	text-decoration: none;
}

.mapLast {

	margin-left: 50px;
}

.ribbon-wrapper {

	position: relative;
	top: 60px;
	left: 200px;
}

.ribbon-front {

	background-color: #4286F4;	
	position: relative;
	color:#ffffff; 
	text-align:center;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px;
	right: 40px;

}


.ribbon-edge-bottomright {

	position: absolute;
	border-style:solid;
	left: 120px;
	border-color: transparent transparent transparent #244985;
	border-width: 0 0 15px 20px;

}

.categoryText {

	font-size: 16px;
	color: #ffffff;
	text-decoration: none;
	background-color: #1E1E1E;
	padding: 16px 16px 21px;
	box-shadow: 0px -5px #4286F4 inset;

}

.nodeListe {
	background-color: #F2F2F2;
	position: relative;
}

.node {

	border-bottom: 2px solid #ffffff;

}

.gridFull {

	padding: 0;

}

.nodeText {

	margin: -10px 5px 10px 56px;

}

.nodeTitle {

	font-weight: bold;
	font-size: 14px;

}

.nodeTitle a {

	color: #222222;
	text-decoration: none;
}

.nodeLastPost {

	margin-left: 0;
	margin-right: 0;
	font-size: 13px;
	padding: 0;
	margin: 0;
    margin-right: 0px;
    margin-left: 0px;
	box-sizing: border-box;
	line-height: 15px;
	word-wrap: normal;
	position: relative;
	left: 65%;
	top: -30px;
	max-width: 250px;

}

.lastThreadTitle {

	color: #22313F;
	text-overflow: ellipsis;
	max-width: 100%;
	display: inline;
	overflow: hidden;

}

.lastThreadMeta {

	display: inline;
}

.nodeLastPost a {

	color: rgb(7, 149, 230);
	text-decoration: none;
}

.muted {
	color: #666666;
}

.pairsInLine {
	color: #000000;
}

.nodeStats {

	font-size: 11px;
	margin-top: -45px;
	overflow: hidden;
}

.nodeStats dl {

	display: inline-block;
	margin-right: 10px;
}

.header {

	background-color: #1E1E1E;
	width: 100%;
	height: 70px;
	box-shadow: 0px -5px #4286F4 inset;

}

#navigation {

	height: 70px;
}

.headerLogo {
	display: inline-block;
}

.headerLogo img {
	width: 5%;
	top: -2px;
	position: absolute;
}

.navTab {

	white-space: nowrap;
	word-wrap: normal;
	display: inline;
	padding: 0 15px;
}

.navTab a {

	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;

}

.navTab .login {

	background-color: #4286F4;

	
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 12px;
	border-radius: 2px;
	height: initial;
	line-height: 1;
	padding: 8px 15px;
	margin-left: 10px;
	margin-top: 5px;

}

.navTab .signup {



	background-color: #00bc2b;
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 700;
	font-size: 12px;
	border-radius: 2px;
	height: initial;
	line-height: 1;
	padding: 8px 15px;
	margin-top: 5px;
}

.publicTabs {

	display: inline-block;
	position: absolute;
	top: 10px;

}

.video {

    overflow: hidden;
    display: block;
    height: 900px;
}

#glass {

	margin-top: -700px;
	
}

.imageTitle {

	position: absolute;
	display: block;
  	margin: auto;
  	bottom: 80px;
  	
}

.navTabs {

	font-size: 11px;
	color: #ffffff
	margin: auto;
	border-width: 1%;
	border-style: none;
	height: 70px;

}

.pairsInLine dd, .pairsInLine dl, .pairsInLine dt, {
	display: inline;

}











.supermotvid{
    position: relative ;
    border: 1px solid black;
    margin-bottom: 100px;
    right: -300px;
    top: -150px;
    
}

.h4_middle{
    position: relative;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-weight: 550;
    font-size: 17px;
    top: -700px;
    right: 500px;
    line-height: 1.2;
    color: #555;
}

.p1_presentation{
    line-height: 1.6;
    position: relative;
    text-align:  left;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 17px;
    top: -700px;
    right: -1070px;
    line-height: 1.2;
    color: #777;
    text-rendering: optimizeSpeed;
}


.p2_presentation{
    margin-bottom: 2em; 
    line-height: 1.6;
   
    position: relative;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 17px;
    top: -700px;
    right: -1070px;
    line-height: 1.2;
    color: #777;
    text-rendering: optimizeSpeed;
}


.p3_presentation{
    margin-bottom: 2em; 
    line-height: 1.6;
    position: relative;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 550;
    font-size: 17px;
    top: -700px;
    right: -1070px;
    line-height: 1.2;
    color: #777;
    text-rendering: optimizeSpeed;
}