.header_div{
    background-color: black;
    margin-top: -20px;
    margin-left: -20px;
    margin-right: -20px;
}

.logo{
    position: absolute;
    margin-top: -105px;
    margin-left: -30px;
    width: 300px;

}
.menu{
    width: 100%;
    overflow: auto;
}

.btn{
    display: inline-block;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 550;
    margin-left: 30px;
}

.btn a{
    font-family: Arial;
    text-decoration: none;
    list-style-type: none;
    color: white;
    display: block;
    padding: 20px 15px;
    margin-top: 20px;
    margin-left: 50px;

}

ul{
    margin: 0 0 0 150px;

}

.btn:hover a{
    color: white;
    background-color: orange;
    transition: 0.3s all;
}

.login{
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 550;
    margin-left: 400px;



}

.login a{
    font-family: Arial;
    text-decoration: none;
    list-style-type: none;
    color: orange;
    display: block;
    padding: 10px 8px;
    margin-top: 20px;


}

.login:hover a{
    color: white;
    background-color: darkorange;
    transition: 0.3s all;
}





.inscription{
    display: inline-block;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 550;
    margin-left: 100px;
    margin-left: 20px;



}

.inscription a{
    font-family: Arial;
    text-decoration: none;
    list-style-type: none;
    color: orange;
    display: block;
    padding: 10px 8px;
    margin-top: 20px;


}

.inscription:hover a{
    color: white;
    background-color: darkorange;
    transition: 0.3s all;
}


.entre{
    color: white;
    margin-top: -37px;
    margin-left: 1445px;
}

hr{
    border-top: 5px solid orange;
}


